package views

import "CS408-Golang-Hello-World-Full-Stack/cmd/web/pages"

templ Edit(p *pages.Page) {
	@Layout(p.Title) {
		<div id="content">
			@PartialEdit(p)
		</div>
	}
}

templ PartialEdit(p *pages.Page) {
	<h1>{ p.Title }</h1>
	<form hx-post={ "/save/" + p.Title } hx-target="#content" hx-push-url="true">
		<div>
			<label for="body">Body</label>
			<textarea id="body" name="body">{ string(p.Body) }</textarea>
		</div>
		<p>
			<button type="submit">Save</button>
		</p>
	</form>
}
