package views

import (
    "CS408-Golang-Hello-World-Full-Stack/cmd/web/pages"
)

templ View(p *pages.Page) {
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{ p.Title }</title>
</head>

<body>
    { string(p.Body) }
</body>

</html>

}