package views

import "CS408-Golang-Hello-World-Full-Stack/cmd/web/pages"

templ View(p *pages.Page) {
	@Layout(p.Title) {
		<div id="content">
			@PartialLoad(p)
		</div>
	}
}

templ PartialLoad(p *pages.Page) {
	<div class="flex flex-col gap-4 max-w-xl">
		<div class="border-2 border-accent-200 px-4 py-3 rounded-lg">
			{string(p.Body)}
		</div>
		<div>
			<button class="border-2 border-accent-200 px-4 py-1 rounded-lg hover:bg-accent-200/10 transition-colors" hx-get={ "/edit/" + p.Title } hx-target="#content" hx-push-url="true">
				Edit
			</button>
		</div>
	</div>
}
